/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	color: #6a6868;
	margin: 0;
}

form {
	margin-top: 2.3px;
}

h1,
button {
	color: #fff;
	font-weight: 600;
	margin: auto;
	font-size: 1.4em;
}

h2,
legend {
	font-weight: 600;
	color: #353535;
	font-size: 1.4em;
}

p,
label,
::placeholder {
	font-size: 1rem;
	color: #444;
	margin-top: 0;
	margin-bottom: 2em;
}

.copyright {
	color: #d1d4d6;
	font-size: 0.9rem;
	margin-top: 25px;
}

.textfield:focus,
#zip:focus,
#interests:focus {
	background-color: #eff0f1;
	outline: none;
	border-bottom: 4px solid rgba(35, 165, 173, 1);
	color: white;
	transition: border-bottom 0.5s 1s, background-color 1s;
}

/* ================================= 
  Base Layout Styles
==================================== */

header {
	text-transform: uppercase;
	background-color: #2d3945;
	padding: 1.4em;
	text-align: center;
	padding: 1.55em 0;
	margin-bottom: 25px;
}

.form {
	background-color: #6a6868;
}

.wrapper {
	list-style-type: none;
	padding: 0;
	border-radius: 3px;
}
.form-row {
	display: flex;
	justify-content: flex-end;
	padding: 0.5em;
}
.form-row > label {
	padding: 0.5em 1em 0.5em 0;
}
.form-row > input,
.form-row > button {
	padding: 0.5em;
}

.main-header,
.form-head,
footer {
	text-align: center;
}

.divider {
	height: 9px;
	border-top: 4px solid #2d3945;
	border-bottom: 2px solid #293945;
	border-left: none;
	border-right: none;
	margin: 0;
	margin-top: 3px;
}

.second-divider {
	height: 5px;
	color: #2d3945;
}

main {
	padding: 0.8em 0.95em;
	background-color: #fff;
}

.form-head {
	text-align: center;
}

.form-head h2 {
	margin-bottom: 0.5em;
}

form {
	padding: 0;
}

fieldset {
	display: flex;
	flex-direction: column;
	border: 0;
	margin: 1.4em 0;
	padding: 0;
	border-bottom: 2px solid #6a6868;
}

fieldset:last-of-type {
	border: none;
}

legend {
	display: inline-block;
	padding: 1em 0;
	font-weight: bold;
	font-size: 1.2em;
	color: #1a4e73;
	margin-bottom: 1em;
	text-align: center;
}

input[type=checkbox],
input[type=radio] {
	margin-right: 0.7rem;
}

.newsletters {
	border: none;
  padding: 0;
  margin: 0 auto;
  color: #1a4e73;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

label {
	display: block;
	margin-bottom: 0.5em;
}

.textfield,
#zip,
textarea {
	background-color: #eee;
	border: none;
	width: 100%;
	line-height: 3em;
	border-radius: 5px;
	padding: 0 1em;
	margin-bottom: 1.4em;
}

::placeholder {
	font-style: italic;
	text-align: right;
	font-size: 0.9em;
}

select {
	height: 3.3339em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/* css select-arrow */
	background-image: linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%),
		radial-gradient(#eee 70%, transparent 72%);
	background-position: calc(100% - 20px) calc(1em + 8px),
		calc(100% - 15px) calc(1em + 8px), calc(100% - 0.5em) 0.9em;
	background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
	background-repeat: no-repeat;
}

select:focus {
	/*css select-arrow on focus-state*/
	background-image: linear-gradient(45deg, white 50%, transparent 50%),
		linear-gradient(135deg, transparent 50%, white 50%),
		radial-gradient(#eff0f1 70%, transparent 72%);
	background-position: calc(100% - 15px) 1.5em, calc(100% - 20px) 1.5em,
		calc(100% - 0.53em) 1em;
	background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
	background-repeat: no-repeat;
}

#zip {
	width: 75%;
}

.nl_text {
	margin-bottom: 1em;
}

.newsletters {
	align-items: center;
}

.newsletter {
	display: inline-block;
	margin-left: 0.5em;
}

.nl_text:not(:first-of-type) {
	margin-top: 1em;
}

textarea {
	margin-bottom: 0.8em;
}

button {
	width: 100%;
	background-color: #4ebbb5;
	height: 3em;
	border-radius: 5px;
	border: none;
}

.copyright {
	text-align: center;
	font-style: italic;
	padding: 1em;
}

@media (min-width: 768px) {
	main {
		width: 60%;
		max-width: 620px;
		margin: auto;
	}

	.contact label {
		display: block;
		width: 25%;
		height: 3em;
		padding-top: 0.7em;
		padding: 10px;
		margin: 15px 0;
		clear: both;
	}

	.textfield,
	#zip {
		display: inline-block;
		width: 75%;
	}

	#zip {
		width: calc(75% / 3);
		margin-right: calc(75% - 75% / 3);
	}
}
