/* ================================= 
  Base Element Styles
==================================== */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

form {
  margin: 10px auto;
  padding: 10px 20px;
}

.container {
  list-style-type: none;
  width: 92.5%;
  margin: auto;
  max-width: 960px;
}

header {
  text-transform: uppercase;
  background-color: #2d3945;
  padding: 1.4em;
  padding: 1.55em 0;
  margin-bottom: 15px;
}

h2,
p {
  text-align: center;
}

h1,
button {
  margin: 10px 0 20px 0;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
}

h2,
h3,
legend {
  font-weight: 600;
  color: #353535;
  font-size: 1.4em;
  font-family: "Merriweather", serif;
}

p,
label,
::placeholder {
  font-size: 1em;
  color: #bbb;
  margin-top: 0;
  margin-bottom: 2em;
}

.copyright {
  color: #d1d4d6;
  font-size: 0.9rem;
  margin-top: 25px;
}

input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  background-color: ivory;
  outline: none;
  border-bottom: 3px solid rgba(35, 165, 173, 1);
  transition: border-bottom 0.5s 1s, background-color 1s;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ================================= 
  Base Layout Styles
==================================== */

.contact > input,
textarea,
select {
  border-radius: 5px;
  background-color: #eee;
  width: 100%;
  height: 50px;
  border: none;
  padding: 10px;
  margin: 15px 0;
}

.form {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 2.3px;
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  text-align: left;
  margin-bottom: 2px;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.form-row > input {
  flex: 1;
}

.form-row > label {
  padding: 0.5em 1em 0.5em 0;
}

.form-row > input,
.form-row > button {
  padding: 0.5em;
}

.divider {
  height: 9px;
  border-top: 4px solid #2d3945;
  border-bottom: 2px solid #293945;
  border-left: none;
  border-right: none;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.second-divider {
  height: 2px;
  background-color: #2d3945;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

main {
  padding: 0.8em 0.95em;
  background-color: #fff;
}

div.top-section {
  padding: 1em 0;
}

.top-section label,
.top-section input,
.top-section select {
  display: block;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
}

.top-section input,
.top-section select {
  padding-right: 1rem;
  padding-left: 1rem;
}

.form-head h2 {
  margin-bottom: 0.5em;
}

.n-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  border-bottom: 2px solid #6a6868;
}

fieldset:last-of-type {
  border: none;
}

legend {
  display: inline-block;
  padding: 1em 0;
  font-weight: bold;
  font-size: 1.2em;
  color: #1a4e73;
  margin-bottom: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #2d3945;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  border-radius: 2px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.7em;
}

.lower-section {
  border: none;
  padding: 0;
  color: #1a4e73;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

label {
  display: inline-block;
  color: #2d3945;
  text-align: left;
  width: 110px;
}

input::-webkit-input-placeholder {
  text-align: right;
  font-style: italic;
  font-size: 0.8rem;
}

.text,
#zip {
  background-color: #eee;
  border: none;
  width: 100%;
  line-height: 3em;
  border-radius: 5px;
  padding: 0 1em;
  margin-bottom: 1.4em;
}

::placeholder {
  font-style: italic;
  text-align: right;
  font-size: 0.9em;
}

select {
  height: 3.3339em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* css select-arrow */
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#eee 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 8px),
    calc(100% - 15px) calc(1em + 8px), calc(100% - 0.5em) 0.9em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

select:focus {
  /*css select-arrow on focus-state*/
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(#eff0f1 70%, transparent 72%);
  background-position: calc(100% - 15px) 1.5em, calc(100% - 20px) 1.5em,
    calc(100% - 0.53em) 1em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

#zip {
  width: 75%;
}

.nl_text {
  text-align: left;
  width: 70%;
  margin: 10px 0;
  font-weight: 500;
}

.newsletter {
  display: inline-block;
  margin-left: 0.5em;
}

.news-option {
  display: inline-block;
  flex-direction: column;
}

.news-option label,
.news-option input {
  margin: 1em 1rem;
}

.newsletter,
input[type="radio"],
input[type="checkbox"] {
  margin: 10px 4px 8px 0px;
}

.news-option input {
  margin-right: 1em;
}

.nl_text:not(:first-of-type) {
  margin-top: 1em;
}

.check-input {
  margin: 9px 0;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.check-input:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  color: #99a1a7;
}

.check-input:checked:after {
  position: absolute;
  color: #2d3945;
  top: 0px;
  left: 0px;
  text-align: center;
  border: solid 1.5px #2d3945;
}

textarea {
  margin-bottom: 0.8em;
  height: 150px;

  padding: 12px 20px;
}

.text {
  margin: 2em 0;
}

.text label,
.text input {
  display: block;
}

button {
  width: 100%;
  background-color: #4ebbb5;
  height: 3em;
  border-radius: 5px;
  border: none;
}

.copyright {
  text-align: center;
  font-style: italic;
  padding: 1em;
}


/* ================================= 
  Media Queries
==================================== */


@media screen and (max-width: 600px) {
  label,
  input {
    width: 100%;
  }
}

@media (min-width: 768px) {
  form {
    min-width: 500px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select#state {
    width: 70%;
    display: inline-block;
  }

  ::-webkit-input-placeholder {
    color: gray;
    text-indent: 230px;
    font-size: 13px;
    font-style: italic;
  }

  #zip {
    width: 35%;
  }

  .top-section label {
    display: inline-block;
    text-align: left;
    width: 26%;
    margin: 10px 0 5px;
  }
}
